.DS_Store
tmp
*.tmp
kubernetes_join_command
.secrets*
*.log
*.ignored
dist
._*/
image.tar
coverage/
.terraform/
terraform.tfstate*
.terraform*lock*
.yarn-cache
*.env
!example.secrets.env
id_rsa
/vendor
.test-runs
/logs
obj
.vs
generated

node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

headers.txt
cookies.txt

.devcontainer/.devpod-internal/

terraform.plan
.nx
