node_modules
.DS_Store
tmp
*.tmp
kubernetes_join_command
.secrets*
*.log
*.ignored
dist
image.tar
coverage/
.terraform/
terraform.tfstate*
.terraform*lock*
.yarn-cache
*.env
id_rsa
/vendor
.test-runs
.vscode/settings.json
/logs
obj
.vs
apps/**/generated
