[*]

# ReSharper properties
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_auto_property = 0
resharper_blank_lines_around_single_line_field = 0
resharper_csharp_max_line_length = 150
resharper_keep_blank_lines_in_code = 2
resharper_place_constructor_initializer_on_same_line = true
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_initializer_on_single_line = false
resharper_remove_blank_lines_near_braces_in_code = false